<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
   <h3> <%=count%></h3>
    <form method="POST" action="/addQuestion">
        qid-><input type="text" name="qid" size="50"><br><br>
        question-><textarea name="question" cols="50" rows="5"></textarea><br><br>
        options A-><input type="text" name="optiona" size=""><br><br>
        options B-><input type="text" name="optionb" size="50"><br><br>
        <!-- options C-><input type="text" name="optionc" size="50"><br><br>
        options D-><input type="text" name="optiond" size="50"><br><br> -->
        category A-><input type="text" name="categorya" size="50"><br><br>
        category B-><input type="text" name="categoryb" size="50"><br><br>
        <!-- category C-><input type="text" name="categoryc" size="50"><br><br>
        category D-><input type="text" name="categoryd" size="50"><br><br> -->
        comment A-><input type="text" name="commenta" size="50"><br><br>
        comment B-><input type="text" name="commentb" size="50"><br><br>
        <!-- comment C-><input type="text" name="commentc" size="50"><br><br>
        comment D-><input type="text" name="commentd" size="50"><br><br> -->
        <br><input type="submit">
    </form>

</body>
</html>
