<!DOCTYPE html>
<html>
<head>
	<title>email sent</title>
</head>
<body bgcolor='#c4b57e'><br><br>
	
 <script>
 	alert('Thanks for taking the test\n Check email for report');
 	window.location='http://google.com';
 </script>
</body>
</html>